/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* Global styles */
  * { @apply focus-visible:outline-0 focus-visible:text-white/100 focus-visible:rounded; }
  html { @apply scroll-smooth scroll-pt-14 bg-white/100; }
  body { @apply flex flex-col min-h-screen bg-white/100 text-black/100 text-16 md:text-14 font-roboto selection:bg-blue/100 selection:text-white/100 antialiased cursor-crosshair; }
  main { @apply grow mt-15 md:mt-20; }
  p { @apply mb-1; }
  p:last-child { @apply mb-0; }
  h1, .h1 { @apply text-16 md:text-14; }
  h2, .h2 { @apply text-16 md:text-14; }
  .info h2 { @apply text-18 font-medium mt-3 mb-1; }
  .info ol { @apply ml-2 list-decimal mb-1; }
  button, a, .selector, .radio, .tabfocus { @apply focus-visible:outline-blue focus-visible:bg-blue/100 focus-visible:text-white/100; }
  a:focus-visible img, button:focus-visible img { @apply opacity-0; }
  a:focus-visible img:nth-of-type(1), button:focus-visible img:nth-of-type(1) { @apply opacity-10; }
  .text-label { @apply text-12 font-roboto uppercase text-black/100 mb-1; }
  .close { @apply absolute flex items-center justify-center cursor-pointer; }
  .text-link { @apply leading-[1.125rem] border-b border-transparent hover:border-black/100 cursor-pointer transition duration-320 ease-epitome; }
  ul { @apply m-0 p-0 list-none; }
  a, .a { @apply hover:text-blue/100 transition duration-320 ease-epitome cursor-pointer; }
  button { @apply cursor-pointer; }
  a[target="_blank"] { @apply cursor-ne-resize; }
  .active a { @apply text-blue/100; }
  img, video, iframe { @apply w-full; }
  .visually_hidden { @apply absolute hidden w-[0.063rem] h-[0.063rem] p-0 m-0 border-none break-normal; }
  .visually_hidden--inline { @apply m-0 h-1; }
  .sr-only { @apply opacity-0 focus-visible:opacity-100 absolute w-[1px] h-[1px] p-0 -m-[1px] overflow-hidden whitespace-nowrap border-0; }
  .menu.animate { @apply transition-[top] duration-320 ease-epitome; }

  /* Temp styles */
  .grid5_ { @apply grid grid-cols-3 md:grid-cols-5 mx-2 gap-x-2 md:gap-x-4; }
  .grid10_ { @apply grid grid-cols-3 md:grid-cols-10 mx-2 gap-x-2 md:gap-x-4; }


  /* Homepage tiles */
  .homeTile-1 { @apply col-start-1 col-end-4 md:col-start-1 md:col-end-3 mt-0; }
  .homeTile-2 { @apply col-start-1 col-end-4 md:col-start-4 md:col-end-6 mt-0 md:mt-[10vh] md:text-right; }
  .homeTile-3 { @apply col-start-1 col-end-4 md:col-start-2 md:col-end-4 mt-0; }
  .homeTile-4 { @apply col-start-1 col-end-4 md:col-start-3 md:col-end-5 mt-0 md:text-right; }
  .homeTile-5 { @apply col-start-1 col-end-4 md:col-start-1 md:col-end-3 mt-0 md:-mt-[20vh]; }
  .homeTile-6 { @apply col-start-1 col-end-4 md:col-start-4 md:col-end-6 mt-0 md:mt-[40vh] md:text-right; }
  [class^="homeTile-"] a { @apply after:absolute after:inset-0 after:z-10; }

}

@layer utilities {

  @keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  .fadein { animation: fadein 800ms; }
  @keyframes scrollin {
    0% { transform: translateY(0.4rem); }
    100% { transform: translateY(0); }
  }
  .scrollin { animation: scrollin 800ms; }
  @media (prefers-reduced-motion) {
    .fadein,
    .scrollin,
    .close span {
        animation: none;
    }
  }

  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

  input.disabled + .selector {
    background: url("data:image/svg+xml;utf8,<svg fill='%23EDEAE2' xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M 0 98 L 98 0 L 100 2 L 2 100'/></svg>");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
    background-color: #ffffff;
  }

  /* Change Autocomplete styles in Chrome */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  .signup-banner input:-webkit-autofill,
  .signup-banner input:-webkit-autofill:hover, 
  .signup-banner input:-webkit-autofill:focus, 
  .signup-banner input:-webkit-autofill:active{
      -webkit-background-clip: text;
      -webkit-text-fill-color: #F6F5F3;
      transition: background-color 5000s ease-in-out 0s;
      box-shadow: inset 0 0 40px 40px #436899;
  }

  /* input styling for safari - https://gist.github.com/Tombarr/e0fce4a412caa27a9bd3ad8ad2cace9a */
  input::-webkit-contacts-auto-fill-button,
  input[type="password"]::-webkit-credentials-auto-fill-button,
  input[type="password"]::-webkit-caps-lock-indicator {
    display: none;
  }

}